* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    color: #333;
}

.container {
    width: 100%;
    margin: 0 auto;
  
}
.text-container { 
    flex:2px;
    margin-left: 20px;
}


header {
    background-color: rgb(255,105,180);
    display: flex;
    align-items: center;
    color: white;
    height: 15vh;
    gap: 20px;
    font-size:20px;
    justify-content: space-around;
   
}


header nav ul {
    display:flex;
    list-style: none;
    gap: 100px;
    
}

header nav ul li {
    margin: 0 50px;
}

header nav ul li
 hover {
    cursor:pointer;
    text-decoration:underline;
    margin: 0 50px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    

}


.image img {
    width: 100%;
    padding: 5px;
    max-width: 350%;
    height: auto;
    margin-bottom: 5px;
    border-radius: 10px;

}

.event { //corrida
    text-align:center;
    background-color:#ff69b4;
    padding:5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    color: #fff;
    display: flex;
    align-items: center;
    font-weight: bold;
    
}

.event img { //imagem corrida
    width: 100%;
    max-width: 200%;
    height: auto;
    margin-bottom: 5px;
    border-radius: 8px;
   
}
.tips {
    display: flex;
    justify-content: space-between;
    gap:20px;
    margin-bottom: 20px;
    padding: 0 40px;
    max-width: 300%;
  
}

footer {
background-color: #ff69b4;
color: white;
text-align: center;
padding: 20px 0;
font-weight: bold;

}

